* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container-venue {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 110px 30px 30px 30px;
}

h3.create-venue {
    margin-bottom: 30px;
}
#h4-id{
    padding-bottom: 50px;
   margin-left: -200px;
}
form.create-venue {
    font-weight: bold;
    font-size: 10pt;
}

label.create-venue {
    width: 300px;
}

label.create-venue input,
form.create-venue select {
    width: 300px;
    height: 30px;
    border: 1px solid rgb(221, 221, 221);
    box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 3px;
    border-radius: 7px;
    padding: 10px;
    margin: 5px 0 20px 0;
}

label#summary textarea {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 300px;
    height: 200px;
    border: 1px solid rgb(221, 221, 221);
    box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 3px;
    border-radius: 7px;
    padding: 10px;
    margin: 5px 0 20px 0;
}

label.create-venue input#price,
label.create-venue input#total-occupancy {
    width: 110px;
}

label.create-venue#price,
label.create-venue#total-occupancy {
    width: 110px;
}

form.create-venue select {
    padding: 5px;
}

.address {
    width: 300px;
    height: 30px;
    border: 1px solid rgb(221, 221, 221);
    box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 3px;
    border-radius: 7px;
    padding: 10px;
    margin: 5px 0 5px 0;
}

#city {
    margin-bottom: 25px;
}

.radio-buttons {
    margin: 15px 0;
}

.radio-buttons input {
    margin: 5px 0px 5px 0px;
}

.subheading {
    display: flex;
    justify-content: left;
    margin-top: 20px;
}

div#venue-btns {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#submit-input {
    background-color: rgba(254, 59, 94, 1);
    width: 80px;
    height: 42px;
    border: 1px solid rgba(254, 59, 94, 0.5);
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 3px;
    cursor: pointer;
    padding: 5px;
    color: white;
    letter-spacing: 0.5pt;
}
