
.home-main {
    /* margin-top: 85px; */
    text-align: center;
    color: aliceblue;

}

.textHome {
    text-align: center;
}

.div {
    display: flex;
    /* border: 3px solid black; */
    /* margin-bottom: 50px; */
    /* margin-top: 50px; */
    flex: wrap;
    width: 100%;
    height: 230px;
    justify-content: space-around;
    /* padding-bottom: 50px; */
}
.link {
    justify-content: space-around;
    list-style-position: inside;
}
h3 {
    /* text-align: center; */
    position: center;
    justify-content: center;
    align-items: center;
    /* margin-top: 30px; */
    /* margin-bottom: 30px; */
    /* flex: wrap; */
    color: black;
   
}

.onlineh3 {
    background-color: black;
    justify-content: center;
    padding-bottom: 5px;
    margin-top:30px;
    margin-bottom: -25px;
}
.white {
    color: white;
    padding-top: 30px;
}
img {
   
    /* border: 1px solid black;	
    border-radius: 4px;		 */
    /* width: 272px;				
    height: 272px; */
    border-radius: 10px;
    margin-top:30px;
    /* border-radius: 75px; */
    transition: 1s box-shadow;
    object-fit: cover;
}
    
	





.experience {
    background-color: black;
    width: 100%;
    height: 320px;
    /* justify-content: space-between; */
}

.experience h3 {
    color: white;
}
.experience-link {
    color: white;
}

.experience-block {
    margin-bottom: 30px 30px 30px 30px;

}

.link {
    text-decoration: none;
    color: black;
    display: block;
}
.experience h4 {
    color: white;
}
.states {
    font-size: 12px;
    display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 100px;
}



.online-image {
    margin-left: 5px;
    margin-right: 5px;
    width: 333px;
    height: 333px;
    /* flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 25%; */
}

.font {
    /* margin-bottom: 30px */
}

.state-link {
    text-decoration: none;
    color: black;
    /* margin-left:30px;
    margin-right:30px; */
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

.font-states {
    border-top: 5px solid black;
    margin-bottom: 30px;
    text-align: center;
    /* text-decoration: underline; */
    /* margin-left:30px;
    margin-right: 30px; */
    padding-top: 25px;
}

.state-div {
    display: flex;
    margin: 0px 30px 40px 30px;
    
}

#stateid {
    text-decoration: underline;
}


.img {
    display: inline-block;
    /* justify-content: space-between; */
}
 
.img:hover {
    animation: shake 1.5s;
}

.homepage-headers {
    text-align: left;
    font-size: 32px;
    font-weight: 700;
}

.home-categories {
    padding: 40px;
}

.home-row {
    display: flex;
    justify-content: flex-start;
    width: 100vw;

}

.home-labels {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    text-align: left;
    padding: 3%;
}

.home-header {
    background-image: url(543675208-huge.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    margin-top: -40px;
    justify-content: center;
    align-items: flex-end;
    background-position: 25%;
    padding-right: 100px;
}

.experience-image {
    width: 260px;
    height: 260px;
}

.car-image {
    width: 220px;
    height: 220px;
}

.textHome {
    padding-top: 40px;
}

.home-splash {
    font-weight: 300;
    
}

.splash-head {
    padding-bottom: 10px;
}

.hosts {
  height: 400px;
}

.experience-categories {
    padding: 20px;
}

.exp-labels {
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    padding: 10px;
}