#navbar {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  align-items: center;
}


.navtext {
  text-decoration: none;
  color: black;
}

#profile-button {
  border-radius: 24px;
  background-color: transparent;
  border: 1px solid #DDDDDD;
  cursor: pointer;
  padding: 5px 5px 5px 12px;
  height: 42px;
  position: relative;
}

.profile-links {

}

#profile-button:hover {
  box-shadow: 0 10px 6px -6px #777;
}


#search-container {
  display: flex;
  flex-direction: row;
  flex-flow: row;
  background-color: rgb(247, 247, 247);
  border: 1px solid rgb(221, 221, 221);
  border-radius: 32px;
  height: 66px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 16px 32px, rgba(0, 0, 0, 0.1) 0px 3px 8px;
  text-align: left;
  font-size: 14px;
  line-height: 1.43;
}

#search-rows {
  display: flex;
  align-items: center;
  padding: 5%;



}



.search {
  flex-direction: row;
}


#navbar-search-container {
  padding: 0 24px;

  border-radius: 32px;
  
}

#search-bar-button:hover {
  box-shadow: 0 10px 6px -6px #777;
}

#search-bar-button {
  display: inline-flex;
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 24px;
  padding-left: 8px;
  width: 300px;
  cursor: pointer;
  height: 48px;
  line-height: 18px;
  padding: 16px;
  justify-content: space-between;

}

#red-circle {
  background-color: #FF385C;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  
  /* margin: 7px 7px 7px 0 */
}

#search-icon {
 

  

  
}