* {
    box-sizing: border-box;
}

#navbar {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  align-items: center;
  background-color: white;
  position: fixed;
  height: 80px;
  width: 100%;
  padding: 0;
  top: 0px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px;
  left: 0px;
  z-index: 1;
}


#navbar-after {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  align-items: center;
  background-color: white;
  position: fixed;
  height: 80px;
  width: 100%;
  padding: 0;
  top: 0px;
  left: 0px;

}

#white-space {
  height: 180px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 25px;
}

#placeholder {
  color: black
}

/* div {
  transition: all 3s;
} */

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.hover-shadow {
  padding: 15px;
  cursor: pointer
}

.hover-shadow:hover {
  background-color: rgb(242, 242, 242);
  padding: 15px;
  border-radius: 32px;
  cursor: pointer
}

.navtext {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

#logo {
  height: 65px;
  margin: 0px;
}

#profile-button {
  border-radius: 24px;
  background-color: transparent;
  border: 1px solid #DDDDDD;
  cursor: pointer;
  padding: 5px 5px 5px 12px;
  height: 42px;
  position: relative;
  outline: none;
}

#profile, #menu, #search-icon {
  width: 25px;
  height: 25px;
  padding:3px;
  margin: 0;
}

#profile-button:hover {
    background-color: rgb(242, 242, 242);
}

.profile-menu {
  position: absolute;
}

#search-container {
  display: flex;
  flex-direction: row;
  flex-flow: row;
  background-color: rgb(247, 247, 247);
  border: 1px solid rgb(221, 221, 221);
  border-radius: 32px;
  height: 66px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 16px 32px, rgba(0, 0, 0, 0.1) 0px 3px 8px;
  text-align: left;
  font-size: 14px;
  line-height: 1.43;
  /* position: absolute; */
  padding: 20px
  
  
  
  
}

#search-rows {
  display: flex;
  align-items: center;

  cursor: pointer;




}



.search {
  flex-direction: row;
    cursor: pointer;
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid rgb(221, 221, 221);
}


#guests, #submit {
  border-right: none;
}


#search-bar-submit {
  align-content: center ;
}

#search-button {
  position: absolute;
  align-self: center;
  z-index: 1;
}

#navbar-search-container {
  padding: 0 24px;

  border-radius: 32px;
  /* position: relative; */

  
}

#search-bar-button:hover {
  box-shadow: 0 7px 6px -6px rgba(0,0,0,0.2);
}

#search-bar-button {
  display: inline-flex;
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 24px;
  padding-left: 8px;
  outline: none;
  width: 300px;
  cursor: pointer;
  height: 48px;
  line-height: 18px;
  padding: 16px;
  justify-content: space-between;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;

}

#red-circle {
  background-color: #FF385C;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  
  /* margin: 7px 7px 7px 0 */
}

#baby-submit {
  position: relative
}

input {
  border: none;
  outline: none;
}

div.profile-menu {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 14px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 12px;
    z-index: 1;
}

.user-dropdown:hover div.profile-menu {
    display: block;
}

.profile-links {
    display: flex;
    justify-content: center;
    margin-bottom: 9px;
}

.profile-links:hover {
    font-weight: bold;
}



#carrot {
  text-align: left;
}