* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.event-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

h2#results {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 40px;
}

.individualVenue {
  background-color: #fff;
  width: 600px;
  margin: 40px;
  border: 1px solid rgb(221, 221, 221);
  box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 3px;
  border-radius: 7px;
  padding: 20px;
}

.link {
  text-decoration: none;
  color: #111010;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.summary {
  font-size: 13px;
  margin-bottom: 30px;
}

.smallBorder {
  border-bottom: #b6b5b5 solid 1px;
  width: 50px;
  margin: 10px 0;
}

.price {
  font-size: 17px;
  margin-left: 500px;
  font-weight: bold;
  margin-top: 100px;
  padding: 0px;
}

div#map-container {
  width: 100%;
}

#forceImgUp {
  margin-top: -150px;
}

.no-events-heading {
  margin-top: 20px;
}

.no-search-results-div {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  width: 500px;
}
