.individualVenue {
  background-color: #fff;
  height: 250px;
  width: 600px;
  border-bottom: #b6b5b5 solid 1px;
  margin-left: 20px;
  margin-top: 10px;
}

.link {
  text-decoration: none;
  color: #111010;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
}

.summary {
  font-size: 13px;
}

.smallBorder {
  border-bottom: #b6b5b5 solid 1px;
  width: 50px;
  margin-top: 10px;
}

.price {
  font-size: 17px;
  margin-left: 500px;
  font-weight: bold;
  margin-top: 100px;
  padding: 0px;
}
