

.booleanInfoLi {
    margin-bottom: 10px;
    /* text-align: center; */
    display: inline-block;
    text-align: left;
     list-style-type: none;

}

.location {
margin-bottom: 10px;
display: inline;
}

/* .locationh3 {
    margin-top: -40px;
    margin-bottom: 10px;
} */

#sum {
    margin-left: 30px;
}
.sun {
    margin: 10px;
    

}

.inf-cont {
      background-color: white;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  /* margin: 0 100px; */
  padding: 20px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 16px 32px, rgba(0, 0, 0, 0.1) 0px 3px 8px;
  margin-bottom: 25px;
}

.sum-contianer {
     background-color: white;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  /* margin: 0 100px; */
  padding: 20px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 16px 32px, rgba(0, 0, 0, 0.1) 0px 3px 8px;
  margin-bottom: 25px;
}

.parent {
    text-align: center;
}
